@font-face {
  font-family: Montserrat;
  src: url("assets/fonts/Montserrat-VariableFont_wght.ttf");
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: "Montserrat", sans-serif;
}

main {
  padding: 30px;
}

h1 {
  font-size: 42px;
  margin-bottom: 10px;
  color: #0d3d71;
}

h2 {
  color: black;
  font-weight: 500;
  padding-bottom: 10px;
}

h3 {
  font-weight: 400;
  color: #ef8f38;
  margin-bottom: 60px;
}

a {
  text-decoration: none;
  color: black;
  transition: 0.3s;
}

a:hover {
  color: #ef8f38
}

a.link-menu {
  padding: 0 20px;
  line-height: 55px;
}

a.link-mail {
  color: black;
  transition: 0.3s;
}

a.link-mail:hover {
  color: #ef8f38;
}

.bold {
  font-weight: 700;
  line-height: 24px;
}

.wrap-container {
  display: flex;

}

.menu-container {
  width: 25%;
  background-color: #f5e8d0;
  padding-top: 80px;
}

.main-container {
  width: 75%;
  padding-left: 80px;
  padding-top: 60px;
}

.list-menu {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-weight: 300;
  font-size: 22px;
}

.section-profile {
  display: flex;
}

.section-profile-text {
  width: 60%;
}

.list-contacts {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  padding-left: 0px;
}

.list-contacts-item {
  margin-left: 0px;
  padding-left: 0px;
  margin-right: 20px;
  display: flex;
  align-items: center;
}

.phone {
  width: 32px;
  height: 32px;
  padding-right: 5px;
}

.mail {
  width: 32px;
  height: 32px;
  padding-right: 5px;

}

.location {
  width: 32px;
  height: 32px;
  padding-right: 5px;

}

.list-skills {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 400px;
  padding-left: 0px;
}

.skills-logo {
  width: 50px;
}

.wrapper {
  display: flex;
}

.wrapper-element {
  width: 50%;
}

.list-projects {
  list-style: none;
  padding-left: 0px;
}

.list-projects-item {
  margin-bottom: 10px;
}

.list-projects-item a {
  background-color: #86d3cb;
}

.code-container {
  padding: 10px;
  border: 3px dotted #86d3cb;
}

.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  background-color: #0d3d71;
  padding: 10px;
}

.year {
  color: white;
  margin-right: 40px;
}

.github-logo {
  width: 40px;
  height: 45px;
  background-image: url(assets/svg/github-circle.svg);
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 40px;
}

.rsschool-logo {
  width: 121px;
  height: 45px;
  background-image: url(assets/svg/rss.svg);
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 20px;
}
